<form class="menu">
    <ul class="menu_list">
        <li class="menu_list-item">
            <a routerLink="">Header</a>
        </li>
        <li class="menu_list-item">
            <a routerLink="home">Home</a>
        </li>
        <li class="menu_list-item">
            <a routerLink="dashboard">Dashboard</a>
        </li>
        <li class="menu_list-item">
            <a routerLink="about-us">About Us</a>
        </li>
        <li class="menu_log-item">
            <div class="button_log-in"
                [ngClass]="{'invis': isResponse$ | async}">
                <a routerLink="login">Log In</a>
            </div>
        </li>

        <li class="menu_sign-item">
            <div class="button_sign-up" 
                [ngClass]="{'invis': isResponse$ | async}">
                <a routerLink="signup">Sign Up</a>
            </div>
            
            <div *ngIf="isResponse$ | async">
                <a (click)="logoutChange()"
                    routerLink="login">Log Out</a>
            </div>
        </li>
    </ul>
</form>

