<div class="login_content">
    <form class="login_avtoriz"
         [formGroup] = "loginForm"
         (ngSubmit)="confirmLoginData()">

        <div class="login_login">

            <div class="log_input-text">
                Login
            </div>

            <input class="input_log" 
                   type="text"
                   placeholder="email"
                   formControlName="email"
                   autocomplete="off"
                   [ngClass]="{'red': (emailLogin.dirty || emailLogin.touched) || (isResponseError$ | async),
                               'green': emailLogin.valid && !(isResponseError$ | async)}">
                   
            <div class="invalid_email-message">
                <div *ngIf="(isResponseError$ | async) && emailLogin.valid">
                    User not found, please sign up! 
                </div>

                <div *ngIf="emailLogin.invalid && (emailLogin.dirty || emailLogin.touched) && !(isResponseError$ | async)">
                    Email is required! 
                </div>
            </div>

            <div class="valid_email-message" 
                *ngIf="emailLogin.valid && !(isResponseError$ | async)">
                Valid email
            </div>
        </div>

        <div class="login_password">
            <div class="pass_text">
                Password
            </div>

            <input class="input_log" 
                   type="password" 
                   placeholder="Password"
                   formControlName="password"
                   autocomplete="off"
                   [ngClass]="{'red': (isResponseError$ | async),
                               'green': !(isResponseError$ | async) && password.valid}">

            <div class="invalid_password-message"
                 *ngIf="(isResponseError$ | async) && password.valid">               
                    Invalid password
            </div>
        </div>

        <div class="login_buttons">
            <button class="cencel_button"
                    [routerLink]="['/home']">
                Cencel
            </button>

            <button class="login_button"
                    [disabled]="loginForm.invalid"
                    type="submit">
                Log In
            </button>
        </div>
    </form>
</div>
