<div class="login_content">
    <form class="login_avtoriz"
         [formGroup] = "loginForm"
         (ngSubmit)="confirmLoginData()">

        <div class="login_login">
            <mat-form-field class="datapicker_style" appearance="fill">
                <mat-label class="label">Login</mat-label>
                <input class="input_log" 
                    type="text"
                    matInput
                    formControlName="email"
                    (input)="changeState($event.target.value)">
            </mat-form-field>
                   
            <div class="invalid_email-message">
                <div *ngIf="(isResponseError$ | async) && emailLogin.valid">
                    User not found, please sign up! 
                </div>

                <div *ngIf="emailLogin.invalid && (emailLogin.dirty || emailLogin.touched) && !(isResponseError$ | async)">
                    Email is required! 
                </div>
            </div>

            <div class="valid_email-message" 
                *ngIf="emailLogin.valid && !(isResponseError$ | async)">
                Valid email
            </div>
        </div>

        <div class="login_password">
            <mat-form-field class="datapicker_style" appearance="fill">
                <mat-label class="label">Password</mat-label>
                <input class="input_log" 
                    type="password" 
                    matInput
                    formControlName="password">
            </mat-form-field>

            <div class="invalid_password-message"
                 *ngIf="(isResponseError$ | async) && password.valid">               
                    Invalid password
            </div>
        </div>

        <div class="login_buttons">
            <button class="cencel_button"
                    [routerLink]="['/home']">
                Cencel
            </button>

            <button class="login_button"
                    [disabled]="loginForm.invalid"
                    type="submit">
                Log In
            </button>
        </div>
    </form>
</div>
