<div class="login_content">
    <div class="login_avtoriz">
        <div class="login_login">
            <div class="log_input-text">
                Login
            </div>

            <input class="input_log" type="text">
        </div>

        <div class="login_password">
            <div class="pass_text">
                Password
            </div>

            <input class="input_log" type="text">
        </div>

        <div class="login_buttons">
            <button class="cencel_button">
                <a [routerLink]="['/']">Cencel</a>
            </button>

            <button class="login_button">
                <a [routerLink]="['/home']">Log In</a>
            </button>
        </div>
    </div>
</div>
