<div class="signup_content">
    <div class="signup_avtoriz">
        <div class="signup_login">
            <div class="log_input-text">
                Login
            </div>

            <input class="input_log" type="text">
        </div>

        <div class="signup_password">
            <div class="pass_text">
                Password
            </div>

            <input class="input_log" type="text">
        </div>

        <div class="signup_buttons">
            <button class="cencel_button">
                Cencel
            </button>

            <button class="signup_button">
                Log In
            </button>
        </div>
    </div>
</div>
