<div class="signup_content">
    <form class="signup_avtoriz"
          [formGroup] = "signupForm"
          (ngSubmit)="setUserData()">

        <div class="signup_login">
            <div class="log_input-text">
                Sign Up
            </div>

            <input class="input_log" 
                   type="text"
                   placeholder="email"
                   formControlName="email"
                   autocomplete="disabled"
                   (input)="changeState($event.target.value)"
                   [ngClass]="{'red': email.invalid || (isResponseError$ | async) || (email.dirty || email.touched),
                               'green': email.valid && !(isResponseError$ | async)}">

            <div class="invalid_email-message">
                <div *ngIf="(isResponseError$ | async) && email.valid">
                    This email is exists!
                </div>

                <div *ngIf="email.invalid && (email.dirty || email.touched) && !(isResponseError$ | async)">
                    Email is required!
                </div>
            </div>

            <div class="valid_email-message" 
                *ngIf="email.valid && !(isResponseError$ | async)">
                Valid email
            </div>
        </div>


        <div class="signup_password">  
            <div class="pass_text">
                Password
            </div>

            <input class="input_log" 
                   type="password" 
                   placeholder="Password"
                   formControlName="password"
                   autocomplete="disabled">

            <div class="repeat_pass-text">
                Repeat password
            </div>

            <input class="input_log" 
                   type="password" 
                   placeholder="Repeat password"
                   formControlName="repeatPassword"
                   autocomplete="disabled"
                   [ngClass]="{'red': (isResponseError$ | async) || (repeatPassword.dirty || repeatPassword.touched),
                               'green': signupForm.valid && !(isResponseError$ | async) && repeatPassword.valid}">
                   
            <div class="invalid_password-message"
                 *ngIf="signupForm.invalid && repeatPassword.valid">
                  Password does not match.
            </div>

            <div class="valid_password-message"
                 *ngIf="signupForm.valid && !(isResponseError$ | async)">
                  Password is valid
            </div>
        </div>

        <div class="signup_buttons">
            <button class="cencel_button"
                    [routerLink]="['/home']">
                Cencel
            </button>

            <button class="signup_button" 
                    [disabled]="signupForm.invalid"
                    type="submit">
                Sign up    
            </button>
        </div>
    </form>
</div>