<div class="signup_content">
    <form class="signup_avtoriz"
          [formGroup] = "signupForm"
          (ngSubmit)="setUserData()">

        <div class="signup_login">
            <mat-form-field class="datapicker_style" appearance="fill">
                <mat-label>Sign Up</mat-label>
                <input class="input_log" 
                    type="text"
                    matInput
                    formControlName="email"
                    (input)="changeState($event.target.value)">
            </mat-form-field>

            <div class="invalid_email-message">
                <div *ngIf="(isResponseError$ | async) && email.valid">
                    This email is exists!
                </div>

                <div *ngIf="email.invalid && (email.dirty || email.touched) && !(isResponseError$ | async)">
                    Email is required!
                </div>
            </div>

            <div class="valid_email-message" 
                *ngIf="email.valid && !(isResponseError$ | async)">
                Valid email
            </div>
        </div>


        <div class="signup_password">  
            <mat-form-field class="datapicker_style pass" appearance="fill">
                <mat-label>Password</mat-label>
                <input class="input_log" 
                    type="password" 
                    matInput
                    formControlName="password">
            </mat-form-field>

            <mat-form-field class="datapicker_style" appearance="fill">
                <mat-label>Repeat Password</mat-label>
                <input class="input_log" 
                    type="password" 
                    matInput
                    formControlName="repeatPassword">
            </mat-form-field>

            <div class="invalid_password-message"
                 *ngIf="signupForm.invalid && repeatPassword.valid">
                  Password does not match.
            </div>

            <div class="valid_password-message"
                 *ngIf="signupForm.valid && !(isResponseError$ | async)">
                  Password is valid
            </div>
        </div>

        <div class="signup_buttons">
            <button class="cencel_button"
                    [routerLink]="['/home']">
                Cencel
            </button>

            <button class="signup_button" 
                    [disabled]="signupForm.invalid"
                    type="submit">
                Sign up    
            </button>
        </div>
    </form>
</div>