<div class="user_settings-content">
    <form class="avatar-container">
        <div class="user_avatar">
            <img class="user_photo" id="photo">
        </div>

        <button class="download_photo"
               type="button"
               (click)="editUserPhotoButton()"> 
               <img src="../../../assets/Images/editphotoprofile.png" height="15px" width="15px">
               Edit</button>

        <div class="buttons_accept-uploader"
            *ngIf="isShowButtons$ | async">
            <button class="cencel_button"
                    (click)="cencelButtonUploader()">
                Cancel
            </button>

            <button class="confirm_button"
                    (click)="saveButtonUploader()">
                Save
            </button>
        </div>

        <input type="file" 
               style="display:none;" 
               id="file" 
               name="file"
               (click)="setUserPhoto()"
               #uploadPhoto>
    </form>

    <form class="user_settings-form"
          [formGroup]="userInfoForm">
        <div class="change_user-names">
            <div class="user_names-conteiner">
                <mat-form-field class="datapicker_style" appearance="fill" >
                    <mat-label>First Name</mat-label>
                    <input type="text" 
                           matInput
                           id="fname"
                           (click)="changeStateFname()"
                           placeholder="Enter your name"
                           formControlName="firstName">
                </mat-form-field>

            </div>

            <div class="accept_buttons"
                [style.visibility]="(isShowButtonsFirstName$ | async)? 'visible' : 'hidden'">
                <button class="cencel_button"
                        (click)="cencelFirstNameButton()">
                    Cancel
                </button>

                <button class="confirm_button"
                        (click)="setFirstName()">
                    Save
                </button>
            </div>

            <div class="user_names-conteiner">
                <mat-form-field class="datapicker_style" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input type="text"
                           id="lname"
                           matInput
                           (click)="changeStateLastName()"
                           formControlName="lastName">
                </mat-form-field>
            </div>

            <div class="accept_buttons"
                 [style.visibility]="(isShowButtonsSurName$ | async) ? 'visible' : 'hidden'">
                <button class="cencel_button"
                        (click)="cencelSurNameButton()">
                    Cancel
                </button>

                <button class="confirm_button"
                        (click)="setLastName()">
                    Save
                </button>
            </div>
        </div>

        <div class="change_user-birthday--conteiner">
            <div class="change_user-birthday">
                <mat-form-field class="datapicker_style" appearance="fill">
                    <mat-label>Choose your birth date</mat-label>
                    <input formControlName="changeBirth" 
                           id="birth" 
                           matInput 
                           [matDatepicker]="picker"
                           (click)="changeStateBirthday()"
                           readonly
                           onfocus="this.removeAttribute('readonly')">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button class ="mat_button" 
                        mat-raised-button (click)="picker.open()">Open Callendar</button>
            
                <div class="accept_buttons"
                    [style.visibility]="(isShowButtonsBirthday$ | async) ? 'visible' : 'hidden'">
                    <button class="cencel_button"
                            (click)="cencelBirthdayButton()">
                        Cancel
                    </button>

                    <button class="confirm_button"
                            (click)="setBirthday()">
                        Save
                    </button>
                </div>
            </div>
        </div>

        <div class="change_user-password">
            <div class="change_user-password--conteiner">
                <mat-form-field class="datapicker_style" appearance="fill">
                    <mat-label>Current Password</mat-label>
                    <input type="password"
                           matInput
                           formControlName="currentPassword">
                </mat-form-field>
            </div>

            <div class="change_user-password--conteiner">
                <mat-form-field class="datapicker_style" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input type="password"
                           matInput
                           formControlName="newPassword">
                </mat-form-field>
            </div>

            <div class="change_user-password--conteiner">
                <mat-form-field class="datapicker_style" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" 
                           matInput 
                           formControlName="confirmPassword">
                    <mat-error *ngIf="userInfoForm.invalid">
                        Password is not declare
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="accept_buttons">
                <button class="cencel_button">
                    Cancel
                </button>

                <button class="confirm_button"
                        (click)="setChangePassword()">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>