<div class="signup_content">
    <div class="signup_avtoriz"
         [formGroup] = "signupForm"
         (submit)="signup(signupForm.value)">

        <div class="signup_login"
             formGroupName="email">
            <div class="log_input-text">
                Login
            </div>

            <input class="input_log" 
                   type="text"
                   placeholder="email"
                   formControlName="email"
                   [style.border-color]="signupForm.get('email').invalid ? 'red' : 'green'"
                   >
        </div>

        <div class="signup_password"
             formGroupName="password"
             >
            <div class="pass_text">
                Password
            </div>

            <input class="input_log" 
                    type="password" 
                    placeholder="Password"
                    formControlName="password"
                    >

            <div class="repeat_pass-text">
                Repeat password
            </div>

            <input class="input_log" 
                   type="password" 
                   placeholder="Repeat password"
                   formControlName="repeatPassword"
                   [style.border-color]="signupForm.invalid ? 'red' : 'green'">
                   
            <div class="invalid_password-message"
                 *ngIf="signupForm.invalid">
                  Password does not match.
            </div>

            <div class="valid_password-message"
                 *ngIf="signupForm.valid">
                  Password is valid
            </div>
        </div>

        <div class="signup_buttons">
            <button class="cencel_button">
                Cencel
            </button>

            <button class="signup_button" 
                    [disabled]="signupForm.invalid" 
                    [routerLink]="['/home']"
                    >
                    Sign up    
            </button>
        </div>
    </div>
</div>