<div class="signup_content">
    <form class="signup_avtoriz"
         [formGroup] = "signupForm"
         (ngSubmit)="setUserData()">

        <div class="signup_login">
            <div class="log_input-text">
                Sign Up
            </div>

            <input class="input_log" 
                   type="text"
                   placeholder="email"
                   formControlName="email"
                   [ngClass]="{'red': email.invalid && (email.dirty || email.touched) || (isResponseError$ | async)}">

            <div class="invalid_email-message" *ngIf="email.invalid || (isResponseError$ | async) || (email.dirty || email.touched)">
                <div *ngIf="(isResponseError$ | async)">
                    {{errorEmailMessage}}
                </div>

                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    Email is required
                </div>
            </div>
        </div>


        <div class="signup_password">
             
            <div class="pass_text">
                Password
            </div>

            <input class="input_log" 
                   type="password" 
                   placeholder="Password"
                   formControlName="password">

            <div class="repeat_pass-text">
                Repeat password
            </div>

            <input class="input_log" 
                   type="password" 
                   placeholder="Repeat password"
                   formControlName="repeatPassword"
                   [style.border-color]="signupForm.invalid ? 'red' : 'green'">
                   
            <div class="invalid_password-message"
                 *ngIf="signupForm.invalid">
                  Password does not match.
            </div>

            <div class="valid_password-message"
                 *ngIf="signupForm.valid">
                  Password is valid
            </div>
        </div>

        <div class="signup_buttons">
            <button class="cencel_button"
                    [routerLink]="['/home']">
                Cencel
            </button>

            <button class="signup_button" 
                    [disabled]="signupForm.invalid"
                    type="submit">
                Sign up    
            </button>
        </div>
    </form>
</div>

<!--[routerLink]="['/home']"-->